*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#navbar{
    display:flex;
    position:relative;
    justify-items: center;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: #ff4e4e; */z-index: 1;
    /* background-color: #fa7f7f; */
    background-image: linear-gradient(#252525,#424f55);
    margin-top: 0px;
    height: 80px;
    /* border-radius: 50px; */
    
    
}
.item a{
    font-size: 100px;
}
#logo img{
    height: 100px;
    width: 140px;
    margin-left: 10px;
    border-radius: 30px;
    margin-top: -10px;
    /* margin: 6px 4px; */
}
#navbar ul{
    display:flex;
    list-style: none;
   justify-content: space-between;
    
}
#navbar ul li{
    justify-content: space-between;
}

#navbar ul li a{
    display:inline-block;
    text-decoration: none;
    color:white;
    padding: 21px 32px;
    font-size: 1.5rem;
}

#navbar ul li a:hover{
    color:rgb(158, 158, 158);
}
.sign{
    display: inline-block;
    margin: 3px;
    padding: 10px 10px;
    color:white;
}
#button {
    /* padding: 2px 10px 2px 10px; */
    /* border: 2px solid rgb(206, 33, 149); */
    background-color:#ef7a7a;
    font-size: 1.3rem;
    border-radius: 18px;
    font-weight: bold;
    width: 128px;
    padding: 2px 10px 2px 10px;
    border: none;

}
a:active{
    color:rgb(158, 158, 158);
}
#button a{
    color:white;
    text-decoration: none;
}
#language{
    
    color:white;
    font-size: 1.3rem;
    border-radius: 14px;
    margin: 10px 30px;
    background-color:#ef7a7a;
    /* border: 2px solid #621628; */
    padding: 2px 4px 2px 25px;
}
#button:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.bi{
    position: relative;
    right: -58px;
}
#home::before{
    content:"";
    position:absolute;
    background:url('cps3.jpg');
    top: 0px;
    left: 0px;
    height:90%;
    width:100%;
    /* z-index: 2; */
    /* z-index:  -1; */
    opacity: 1;
    background-repeat: no-repeat;
    background-size:100% 100% ;
}
#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: white;
}
#join a{
    position: absolute;
    left: 50%;
    top: 55%;
    width: 370px;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    background-color:#ef7a7a;
    border-radius:40px ;
}
#join a:hover{
    cursor: pointer;
}
.home h1{
    font-size: 40px;
    z-index: 8;
}

.main{
    margin-top: 450px;
    /* height: 140vh; */
    position: relative;
    top: -600px;
}
#main1{
    height: 20vh;
    background-color: #e6e3e4;
}
#main2{
    height: 20vh;
    background-color: #ff4e4e;
}
#main3{
    height: 806px;
    background-color: #621628;

}
.submain{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.user1{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 60px;
    font-family:Arial, Helvetica, sans-serif
}
.user1 p{
    padding-top: 0px;
    margin-top: 0px;
}
.user2{
    font-size: xx-large;
    font-weight: bold;
    margin-right: 60px;
    font-family:Arial, Helvetica, sans-serif
}
#main3 {
margin-left:0px ;
min-height: 500px;
}
.reviews{
    display: flex;
   grid-template-columns: auto;
   grid-gap: 1em;
   grid-template-columns: repeat(auto-fit,minmax(300px,2fr) );
   grid-row: 1;
   padding-top: 300px;
   /* padding-right: 400px; */
}
.container{
    /* border: 2px solid white; */
    /* background-color: whitesmoke */
    height: 2200px;
} 
/* .bi {
   margin-left: 500px;
   margin-top: 30px;
} */

#two{
    height: 27vh;
    background-color: black;
}
.elements{
    display: flex;
    color: white;
    justify-content: space-evenly;

}
#legal {
    margin-left: 40px;
}
#legal ul li{
    list-style: none;
    font-size: 1.1rem;
    margin-top:10px ;
}
#carrers ul li{
    list-style: none;
    font-size: 1.1rem;
    margin-top:10px ;
}
#social h2{
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
    justify-content: space-between;
    
}
#insta img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin: 7px 20px;
    background-color: black;
}
#facebook img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin: 7px 20px;
}
#twitter img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin: 7px 20px;
    
}
#youtube img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: solid black;
    background-color: white;
    margin: 7px 20px;
}
#faq ul li{
    list-style: none;
    font-size: 1.1rem;
    margin-top:10px ;
}
#legal ul li:hover{
    color: rgb(215, 47, 47);
}
#carrers ul li:hover{
    color: rgb(215, 47, 47);
}
#faq ul li:hover{
    color: rgb(215, 47, 47);
}


#three{
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}
#text{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 37px;
    
}
#google img{
    margin: 0px 50px;
    width:100px;
    border-radius: 4px;
}
#apple img{
    width:100px;
    border-radius: 4px;
    margin: 23px;
}




#four{
    height:70vh;
    background-color: black;
}
#stories{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
}
 .page{
    height: 100vh;
    
}
.para{
    display: flex;
    text-align: end;
    justify-content: center;
} 
.para{
        display:flex;
        width: 31%;
        height: 400px;
        border: 2px solid red;
        margin: 12px;
        padding: 180px 10px 20px 10px;
        text-align: left;
    }
    #p1{
        display: inline-block;
        color: white;
        position:relative;
        top: -44px;
        left:0px;
        font-size: 1.2rem;
        padding-bottom: -12px;
    }
    #p2{
        display: inline-block;
        color: white;
        position:relative;
        top:-43px;
        font-size: 1.2rem;
        padding-bottom: -10px;
        }
    #p3{
        display: inline-block;
        color: white;
        position: relative;
        font-size: 1.2rem;
    } 

    body{
        height: 100%;
    }
    .s1{
        width: 300px;
        height: 350px;
        border-radius: 20px;
       /* z-index:9; */
        position: absolute;
        top: 600px;
        left: 300px;
        background-image: linear-gradient(#b7b4b5,#e6e3e4);
        box-shadow:5px 5px 3px brown;
    }
    .s2{
        width: 300px;
        height: 350px;
        border-radius: 20px;
       /* z-index:9; */
        position: absolute;
        top: 600px;
        left: 610px;
        background-image: linear-gradient(#b7b4b5,#e6e3e4);
        box-shadow:5px 5px 3px brown;
    }
    .s3{
        width: 300px;
        height: 350px;
        border-radius: 20px;
       /* z-index:9; */
        position: absolute;
        top: 600px;
        left: 920px;
        background-image: linear-gradient(#b7b4b5,#e6e3e4);
        box-shadow:5px 5px 3px brown;
        
    }
    .pic1{
        background-image: url('girl1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 550px;
        left:1026px;
        border-radius: 50%;
        box-sizing: border-box;
        /* box-shadow:8px 8px 2px #621628;s */
        border : 1px solid black;
    }
    .pic2{
        background-image: url('girl3.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 550px;
        left:395px;
        border-radius: 50%;
        box-sizing: border-box;
        /* box-shadow:8px 8px 2px #621628; */
        border : 1px solid black;
        /* z-index: 10; */
    }
    .pic3{
        background-image: url('ankit.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* box-shadow:8px 8px 2px #621628; */
        border : 1px solid black;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 550px;
        left:711px;
        border-radius: 50%;
        box-sizing: border-box;
    }
    .pr1{
        position: absolute;
        top: 650px;
        left:400px;
        /* border: 2px solid black; */
        font-family: sans-serif;
    }
    .pr2{
        position: absolute;
        top: 650px;
        left:720px;
        /* border: 2px solid black; */
        font-family: sans-serif;
    }
    .pr3{
        position: absolute;
        top: 650px;
        left:1025px;
        /* border: 2px solid black; */
        font-family: sans-serif;
    }
    .p1{
        /* border: 2px solid black; */
        width: 250px;
        height: 200px;
        position: absolute;
        top: 700px;
        left:320px;
        overflow: auto;
        font-family: sans-serif;
        font-size: small;
    }
    .p2{
        /* border: 2px solid black; */
        width: 250px;
        height: 200px;
        position: absolute;
        top: 700px;
        left:630px;
        overflow: auto;
        font-family: sans-serif;
        font-size: small;
    }
    .p3{
        /* border: 2px solid black; */
        width: 250px;
        height: 200px;
        position: absolute;
        top: 700px;
        left:940px;
        overflow: auto;
        font-family: sans-serif;
        font-size: small;
    }
    .reviews{
        top: -600px;
        color: black;
        z-index: 5;
        background-color: #621628;
    }
    .footer{
        /* height: 100vh; */
        position: relative;
        top: 0px; 
    }
    
    .bi-bi-chat-right-heart-fill{
        position: sticky;
        background-color: rgb(0, 184, 184);
    }
    /* .div1{
        height: 15rem;
        width: max-content;
        background-color: #e6e3e4;
    }
    .div2{
        height: 20rem;
        width: max-content;
        background-color: #ff4e4e;
    }
    .div3{
        height: 40rem;
        width: max-content;
        background-color: #621628;
    }
    
    /* #stats1{
        height: 20vh;
        background-color: #e6e3e4;
    }
    #stats2{
        height: 20vh;
        background-color: #ff4e4e;
    }
    #stats3{
        height: 60vh;
        background-color: #621628;
    } 
